<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendre votre Voiture</title>
    <link rel="stylesheet" href="/assets/css/sell_car.css">
</head>

<%- include("../partials/header.ejs") %>

<body>
    <main>
        <section class="sell-your-car">
            <h2>Vendre votre Voiture</h2>
            <p>Remplissez le formulaire ci-dessous pour ajouter votre voiture à notre site :</p>
            <form class="car-upload-form" action="<%= hoster %>/car/sell" method="POST" enctype="multipart/form-data">
                <label for="car-make">Marque:</label>
                <select id="car-make" name="make" required>
                    <option value="Audi">Audi</option>
                    <option value="BMW">BMW</option>
                    <option value="Mercedes">Mercedes</option>
                </select>

                <label for="car-model">Modèle:</label>
                <input type="text" id="car-model" name="model" placeholder="Modèle" minlength="2" required>

                <label for="car-year">Année:</label>
                <input type="text" id="car-year" name="year" placeholder="Année" minlength="4" required>

                <label for="car-mileage">Kilométrage:</label>
                <input type="text" id="car-mileage" name="mileage" placeholder="Kilométrage" minlength="1" required>

                <label for="car-condition">État Général:</label>
                <input type="text" id="car-condition" name="condition" placeholder="État Général" minlength="3" required>

                <label for="car-price">Prix:</label>
                <input type="number" id="car-price" name="price" placeholder="Prix" minlength="1" value="10000" required>

                <label for="car-horse">Puissance CH:</label>
                <input type="number" id="car-horse" name="horse" placeholder="horse" minlength="1" value="75" required>

                <label for="car-fast">0-100km/h:</label>
                <input type="number" id="car-fast" name="fast" placeholder="horse" minlength="1" value="12" step="0.1" required>

                <label for="car-description">Description:</label>
                <textarea id="car-description" name="description" placeholder="Description" required></textarea>

                <label for="images">Ajouter des photos:</label>
                <input type="file" id="images" name="images" multiple required accept=".png, .jpg, .jpeg" minlength="3" maxlength="3">

                <button class="cta-button" type="submit">Soumettre</button>
            </form>
        </section>
    </main>
    
    <%- include("../partials/footer.ejs") %>

    <script src="/assets/js/scripts.js"></script>
</body>
</html>